#computerbasic {
    background-color:rgb(255, 171, 213);
}
#writingbasic{
    background-color: rgb(146, 248, 255);
}
#digitalliterecy{
    background-color: rgb(144, 255, 218);
}
#Cprogramming{
    background-color: rgb(88, 249, 255);
}
#commuengLR{
    background-color: rgb(88, 176, 88);
}
#statistic{
    background-color: rgb(255, 187, 164);
}
#commuengSW{
    background-color: rgb(255, 214, 214);
}